:root{
    --color1: #ece040;
    --color2: #c8d81b;
    --color3: #42424a;
    --color4: #191919;
    --color5: #1a1a1a;
    --color6: #000000;
    --color7: #ffffffb4;
    --color8: #1c1a1a70;
}


body{
    background-color: var(--color7);
    color: var(--color6);
    font-weight: bold;
    font-family: 'Fredoka';

    margin-bottom: 5em;
}

.btn-primary{
    background-image: linear-gradient(195deg,var(--color1),var(--color2));
    border : 1px solid var(--color1);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    border:  none;
    scale: 1.1;
}

.btn-danger{
    background-image: linear-gradient(195deg,var(--color3),var(--color4));
    border : none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
}

.sidebar{
    background-image: linear-gradient(195deg,var(--color3),var(--color4));
    border: 1px solid #42424a;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.sidebar a{
    color: var(--color7);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0;
    background-color: var(--color8);
    border-radius: 0.5em;
    padding: 0.7em 1.4em;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.2em 0 0.5em var(--color8);
}

.sidebar a:hover{
    background-color: var(--color1);
    color: var(--color7);
}

#form-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(195deg, rgb(208, 208, 208), rgba(186, 185, 185, 0.644));
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin-top: 2em;
}


.modal-content{
    border-radius: 0.5em;
    background-image: linear-gradient(195deg, rgb(208, 208, 208), rgba(186, 185, 185, 0.644));
    
}

 input{
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    margin: 0.5em 0;
    background-color: rgba(53, 52, 52, 0.621);
    color: var(--color7);
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.2em 0 0.5em var(--color8);
}

textarea {
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    /* background-color: rgba(53, 52, 52, 0.621); */
    /* color: var(--color7); */
    /* font-size: 1.1em; */
    /* font-weight: bold; */
    box-shadow: 0.2em 0 0.5em var(--color8);
    outline: none;
}


select{
    width: 100%;
    padding: 0.5em 1em;
    border: none;
    margin-top: 1.1em;
    border-radius: 0.5em;
    /* background-color: rgba(53, 52, 52, 0.621); */
    /* color: var(--color7); */
    /* font-size: 1.1em; */
    /* font-weight: bold; */
    box-shadow: 0.2em 0 0.5em var(--color8);
}

#form-container label{
    font-size: 18px;
    color: var(--color3);
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5em;
}


.text-primary{
    color: var(--color3)!important;
}

.col-md-10{
    border-radius: 0.5em;
    background-image: linear-gradient(195deg, rgb(208, 208, 208), rgba(186, 185, 185, 0.644));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.fas{
    color: var(--color3);
}

.container .col-md-6{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    background-image: linear-gradient(195deg, rgb(208, 208, 208), rgba(186, 185, 185, 0.644));
    width: 100%;
    padding: 8em 4em;
}

