html {
    scroll-behavior: smooth;
}

:root {
    --blue: #19AEFF;
    --white: #E6E6E6;
    --gray: #CCCACA;
    --gray-2: #A8A2A2;
    --background-color: #383a4f;
    --div-background-color: #ffffff12;
    --divider-color: #6B728E;

    /* Vertical screen edge fade */
    
}

body {
    background-image: linear-gradient(180deg, #383a4f 0%, rgb(12, 12, 17) 100%);
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Fredoka', sans-serif;
}

i {
    color: var(--gray-2);
    font-size: 1.5em;
}

.page-divider {
    margin-top: 8em;
    width: 70%;
    border: 1px solid var(--divider-color);
}

p {
    color: var(--gray-2);
    margin-top: 1em;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 8em;
}

.section-title {
    color: var(--gray);
    font-size: 1.3em;
    margin-bottom: 5em;
    letter-spacing: 0.2em;
    width: fit-content;

    border-bottom: 1px solid var(--divider-color);
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards hr {
    margin: 0;
    height: 15em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--divider-color);
}






/* Head */
.head {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    margin-top: 3em;
    
}

.head>.left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.head>.left-side>div {
    margin-top: 2.8em;
    padding-left: 4em;
}

.head>.left-side div>h3 {
    color: var(--gray);
}

.head a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
    padding: 1em;
    border-radius: 1em;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.5s, background-color 0.5s;
}

.head a:hover {
    color: var(--blue);
    background-color: var(--background-color);
}

.head>.left-side>.name-section>h3 {
    color: var(--blue);
    margin-top: -1em;
}

.head>.left-side>.name-section>h1 {
    font-size: 2.8em;
}

.head>.right-side {
    display: flex; 
    justify-content: center;
    width: 35%;
}

.head>.right-side>img {
    width: 100%;
    filter: grayscale(60%) brightness(85%) blur(0.5px);
}

.head>.left-side>.about {
    color: var(--gray-2);
}

.head>.left-side>.about h3 {
    color: var(--gray);
}


/* Nav */
.nav {
    position: fixed;
    bottom: 15%;
    right: 0;
    color: var(--gray);
    margin-right: -9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: fit-content;
    z-index: 1;  

    background: var(--div-background-color);
    border-radius: 1em 0 0 1em;
    border: 2px solid var(--divider-color);
    padding: 1em;
    transition: margin 0.3s;
}

.nav:hover {
    margin-right: 0em;
}

.nav>hr {
    width: 1px;
    height: 100%;
    background-color: var(--gray);
}

.nav>a {
    width: 100%;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--white);
    transform: scale(1);
    list-style: none;
    transition: transform 0.5s, border 0.5s, color 0.5s;
}

.nav>a:hover {
    color: var(--blue);
    border-color: var(--blue);
    transform: scale(1.1);

}



/* Education section */
.education-section>.cards>.education-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: var(--div-background-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--divider-color);
    padding: 2em;
    transition: background-color 0.5s, border 0.5s, transform 0.5s, backdrop-filter 0.5s;
    transform: scale(1);
    box-sizing: border-box;
}

.education-section>.cards>.education-card:hover {
    transform: scale(1.2);
    background-color: var(--background-color);
    border: 2px solid var(--blue);
}

.education-section>.cards>.education-card h3 {
    color: var(--gray);
}

.education-section>.cards>.education-card h4 {
    color: var(--blue);
    margin-top: -0.5em;
}


/* Skills section */
.skills-section{
    flex-wrap: wrap;
    text-align: center;
    
}

.skills-section > .skills-title{
    flex-basis: 100%;  
    border: none;
}

.skills-section > .skills-title > h1{
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid var(--divider-color);
}

.skills-section > .soft-skills, .development-skills{
    width: 30em;
}

.skills-section h3{
    color: var(--gray-2);
}

.skills-section i{
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--div-background-color);
    width: 10%;
}


.skills-section .skill{
    display: flex;
    flex-direction: column;
}

.skills-section .skill > .title-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skills-section .skill > .bar{
    width: 15%;
    height: 0.1em;
    background-color: var(--blue);
    transition: width 0.5s;
}

.skills-section .skill:hover > .bar{
    width: 100%;
}

.skills-section .skill:hover > .title-image > i{
    background-color: var(--blue);
    color: var(--white);
    transition: background-color 0.5s, color 0.5s;
}
.skills-section .skill:hover > .title-image > i{
    background-color: var(--blue);
    color: var(--white);
    transition: background-color 0.5s, color 0.5s;
}



/* Experience section */
.experience-section {
    flex-direction: row-reverse;
}

.experience-section>.cards>.experience-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: var(--div-background-color);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--divider-color);
    padding: 2em 4em;
    box-sizing: border-box;
    transform: scale(1);
    transition: background-color 0.5s, border 0.5s, transform 0.5s, backdrop-filter 0.5s;
}

.experience-section>.cards>.experience-card:hover {
    transform: scale(1.2);
    background-color: var(--background-color);
    border: 2px solid var(--blue);
}

.experience-section>.cards>.experience-card .start-date {
    margin: -2.5em auto 0em auto;
}

.experience-section>.cards>.experience-card .end-date {
    margin: 2em auto -2.5em auto;
}

.experience-section>.cards>.experience-card>.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.experience-section>.cards>.experience-card>.card-head>.left-side {
    display: flex;
    flex-direction: column;

}

.experience-section>.cards>.experience-card>.card-head img {
    width: 20%;
    height: 20%;
    border-radius: 1em;
}


.experience-section>.cards>.experience-card h3 {
    color: var(--gray);
}

.experience-section>.cards>.experience-card>.card-head h4 {
    color: var(--blue);
    margin-top: -0.5em;
}

.experience-section>.cards>.experience-card h4 {
    color: var(--blue);
}



/*projects section */

.projects-section a {
    text-decoration: none;
    color: var(--gray);
}


.projects-section h5 {
    color: var(--blue);
}

.projects-section {
    flex-direction: column;
    align-items: center;
}

.projects-section>.cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.projects-section>.cards>.project-card {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 35em;
    height: 35em;
    background: var(--div-background-color);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--divider-color);
    padding: 2em 3em;
    box-sizing: border-box;
    transition: background-color 0.5s, border 0.5s;
    transform: scale(1);
}


.projects-section>.cards>.project-card .left-side{
    flex: 0 0 100%;
    transition: flex 0.5s;
}

.projects-section>.cards>.project-card .project-details {
    display: none;
    transition: opacity 5s;
}

.projects-section>.cards>.project-card:hover{
    background-color: transparent;
    border: 2px solid transparent;
}

.projects-section>.cards>.project-card:hover .project-details {
    display: block;
}

.projects-section>.cards>.project-card:hover .left-side {
    flex: 0 0 45%;
}

.projects-section>.cards>.project-card  img {
    border-radius: 1em;
    width: 100%;
}


/* Footer */
.social-media {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.footer-section{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7em;
    flex-direction: column;
    text-align: center;
    
}

.footer-section > .name-section > h4 {
    color: var(--blue);
    margin-top: -1em;   
}

.footer-section > .phone-email-section > h4:nth-child(2) {
    margin-top: -1em;
    margin-bottom: 2em;
}